# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Ignorar todos os arquivos relacionados ao Visual Studio
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# Pasta de pacotes do NuGet
packages/

# Pasta de saída padrão do Visual Studio
bin/
obj/

# Cache de análise do Roslyn
*.ide

# Cache de análise do Rider (se estiver usando Rider)
.idea/

# Arquivos temporários do Rider (se estiver usando Rider)
*.suo
*.user
*.userosscache
.idea/

# Pasta de saída do Rider (se estiver usando Rider)
.idea/

# Arquivos de configuração específicos do Visual Studio
/.vscode/
/.sln.docstates

# Logs e saída de depuração
*.log
*.log.*
__pycache__/
*.pyc

# Pasta de publicação GitHub Pages (se aplicável)
.github/
